@{
    ViewBag.Title = "Bienvenido!";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">

        <!--<h1 style="text-align:center; font-size:xx-large">Bienvenido</h1>-->
        <div id="UserInfo"></div>
        <div class="wrapper">

            <div class="box box-4">
                <div class="box-content">
                    <h2>¿Qué es el TCU?</h2>
                    <p>
                        En síntesis, el TCU facilita la capacidad de los alumnos para desenvolverse en comunidades diversas y plurales,
                        y para trabajar de forma efectiva en la sociedad, forjando un mundo más justo y equitativo.
                    </p>
                </div>
            </div>
            <div class="box box-4">
                <div class="box-content">
                    <h2>¿Es obligatorio hacer el TCU?</h2>
                    <p>
                        El trabajo Comunal Universitario requiere que los estudiantes le dediquen 150 horas y
                        es requisito de graduación para todos los estudiantes universitarios del país,
                        lo cual fue dispuesto así por el Reglamento del Consejo Nacional de la Educación Superior
                        Privada de 1996, en el artículo 12, inciso f), y fue ratificado en el Reglamento del año 2001, artículo 14, inciso h).
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
