@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Internal Error</title>
</head>
<body>
    <h1 class="error">
        Oops!
    </h1>
    <h2>
        Server Returned a 500 (Internal Server Error)!
        <br />
        Something went wrong, the administrator has been notified. <a href="#" onclick="window.history.back();"><b>Go back</b></a>
    </h2>
</body>
</html>
