@{
    ViewBag.Title = "Not Found";
}
<hgroup class="title">
    <h1 class="error">
        Oops!
    </h1>
    <h2>
        Server Returned a 404 (Page Not Found)!
        <br />
        The URL you are looking for has moved without leaving a forwarding
        address. <a href="#" onclick="window.history.back();"><b>Go back</b></a>
    </h2>
</hgroup>
